@import "./icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 0 101 238;
    --color-secondary: 111 114 185;
    --b1: 246 249 252;
    --bc3: 107 112 117;
  }
  *,:after,:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(0,119,250,.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(0,119,250,.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
    --tw-shadow: 0 0 transparent;
    --tw-shadow-colored: 0 0 transparent;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}
}

@layer components {
  .t-button {
    --t-button-size-sm: 34px;
    --t-button-size-md: 44px;
    --t-button-size-lg: 52px;
    align-items: center;
    border-radius: 0.375rem;
    cursor: pointer;
    display: inline-flex;
    font-weight: 600;
    justify-content: center;
  }

  .t-button .t-spin,
  .t-button [class^=i-] {
    height: 1rem;
    vertical-align: -0.125em;
    width: 1rem;
  }

  .t-button--icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .t-button--md {
    height: var(--t-button-size-md);
  }

  .t-button--icon.t-button--md {
    height: var(--t-button-size-md);
    width: var(--t-button-size-md);
  }

  .btn-cart {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--b1)/1);
    background-color: rgb(var(--b1)/var(--tw-bg-opacity));
    border-radius: 9999px !important;
    margin-left: 1rem;
  }
}


@layer components {
  .t-text-field__wrapper {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    align-items: center;
    background-color: rgb(var(--b1)/1);
    background-color: rgb(var(--b1)/var(--tw-bg-opacity));
    border-radius: 0.375rem;
    color: rgb(var(--bc1)/1);
    color: rgb(var(--bc1)/var(--tw-text-opacity));
    display: inline-flex;
    font-size: 14px;
    line-height: 150%;
    position: relative;
    width: 100%;
  }

  .t-text-field {
    background-color: transparent;
    border-style: none;
    flex: 1 1 0%;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

  .t-text-field__prefix {
    margin-right: 0.5rem;
  }

  .t-text-field__wrapper i {
    --tw-text-opacity: 1;
    color: rgb(var(--bc3)/1);
    color: rgb(var(--bc3)/var(--tw-text-opacity));
    height: 1rem;
    vertical-align: -0.125em;
    width: 1rem;
  }

  .t-text-field__wrapper.t-text-field---lg {
    padding: 0.75rem 1rem;
  }

  .t-text-field__wrapper.t-text-field--rounded {
    border-radius: 100px;
  }

  .t-text-field--focused {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(var(--color-primary)/var(--tw-ring-opacity));
    box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) rgb(var(--p)/1),0 0 transparent;
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000)
}
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}